<div class="container-navbar">
<%# push it good %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon w-100 d-flex justify-content-between">
    <div class="container-fluid d-flex justify-content-between">
      <div class="collapse navbar-collapse d-flex justify-content-between w-100 align-menu" id="navbarSupportedContent">
            <% if user_signed_in? %>
              <div class="d-flex justify-content-between">
                  <%= link_to "TinyBnB", root_path, class: "nav-link pe-3" %>
                  <%= link_to "See all homes", homes_path, class: "nav-link pe-3" %>
                  <%= link_to "Add a home", new_home_path, class: "nav-link" %>
              </div>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link btn-logout " %>
            </div>
            <% else %>
              <div class="d-flex justify-content-between w-100">
                <div class="d-flex justify-content-between">
                  <%= link_to "TinyBnB", root_path, class: "nav-link pe-3" %>
                  <%= link_to "See all homes", homes_path, class: "nav-link" %>
                </div>
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </div>
            <% end %>
      </div>
    </div>
  </div>
</div>
